<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PCB3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <PCB3.Properties.Settings>
            <setting name="Offset_Z_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Offset_Camera_X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Offset_Camera_Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value />
            </setting>
            <setting name="ctrlLaserMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="locationSerForm1" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="serialPort1" serializeAs="String">
                <value>COM123</value>
            </setting>
            <setting name="serialBaud1" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="lastOffsetZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastOffsetX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastOffsetY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastOffsetA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastOffsetB" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastOffsetC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastOffsetCoord" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="importGCHeader" serializeAs="String">
                <value />
            </setting>
            <setting name="importUnitGCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="importUnitmm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="machineLimitsHomeX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="machineLimitsHomeY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="machineLimitsRangeX" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="machineLimitsRangeY" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="serialMinimize" serializeAs="String">
                <value>False</value>
            </setting>
        </PCB3.Properties.Settings>
    </userSettings>
</configuration>